.title,
.form-button,
.form-pesquisa {
  padding: 1rem;
}


#div-artigos{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
  width:100%;
}

.formatar-div{
  -webkit-box-shadow: 0px 10px 28px 0px rgba(102,97,102,1);
  -moz-box-shadow: 0px 10px 28px 0px rgba(102,97,102,1);
  box-shadow: 0px 10px 28px 0px rgba(102,97,102,1);
  border: solid 2px;
  border-radius: 5px;
  border-color: rgb(236, 255, 242);
  width:100%;
}

.imagem-artigos{
  display: flex;
  width: 100%;
  background-image: url('../images/avalie-fundo.jpg');
  background-size:cover;
  height: 20vh;
  background-position: center;
  align-items: center;
  justify-content: center;

}

.titulo-artigos{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: max(5vw,30px);
}

@media screen and (min-width:601px) {

  .imagem-artigos{
    height: 30vh;


  }

  img {
    width: 20vw;
    height: 100%;
    padding: 5px;
  }

}

@media screen and (min-width:901px) {
  .imagem-artigos{
    height: 40vh;
  }

}


@media screen and (min-width:1000px) {

  .imagem-artigos{
    height: 50vh;
  }

}